*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/copilot.data.migration.ask.xml
/.idea/material_theme_project_new.xml
.DS_Store
/build
/.kotlin
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore files
/keystore/*.jks
/keystore/*.keystore
!/keystore/.gitkeep
